/* ===== Google Font ===== */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');

/* ===== Reset ===== */
*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:'Poppins',sans-serif;
}

html,
body,
#root{
    width:100%;
    overflow-x:hidden;
}

/* ===== Navbar ===== */

.navbar{
    position:fixed;
    top:0;
    left:0;
    width:100%;
    z-index:9999;

    background:rgba(255,255,255,.65);
    backdrop-filter:blur(18px);
    -webkit-backdrop-filter:blur(18px);

    border-bottom:1px solid rgba(255,255,255,.2);
}

.nav-container{
    width:100%;
    height:66px;
    display:flex;
    align-items:center;
    justify-content:space-between;
    padding:0 20px;
}

/* ===== Logo ===== */

.logo{
    display:flex;
    align-items:center;
}

.logo img{
    height:45px;
    width:auto;
    object-fit:contain;
    padding-right: 100px;
}

/* ===== Navigation ===== */

.nav-links{
    display:flex;
    align-items:center;
    gap:5px;
    list-style:none;
}

.nav-links a{
    text-decoration:none;
    color:#697386;
    font-size:20px;
    font-weight:500;
    transition:.3s;
    margin-right: -15px;
}

.nav-links a:hover{
    color:#ff7a00;
}

.active-link{
    font-size:20px;
    color:#ff7a00 !important;
}

/* ===== Right Side ===== */

.nav-right{
    display:flex;
    align-items:center;
    gap:50px;
}

/* ===== Phone ===== */

.phone{
    display:flex;
    align-items:center;
    gap:1px;
    color:#0A4AA6;
    font-weight:500;
    white-space:nowrap;
    margin-left: 30px;
    margin-right: -35px;
}

.phone svg{
    font-size:13px;
}

.phone span{
    font-size:13px;
}

/* ===== Button ===== */

.counselling-btn{
    background:#ff7a00;
    color:#fff;
    border:none;
    border-radius:12px;
    height:35px;
    min-width:100px;
    padding:0 6px;
    font-size:14px;
    font-weight:500;
    cursor:pointer;
    transition:.3s;
}

.counselling-btn:hover{
    transform:translateY(-2px);
}

/* ===== Mobile Icon ===== */

.menu-icon{
    display:none;
    font-size:20px;
    color:#0A4AA6;
    cursor:pointer;
}
.whatsapp-btn{
  position: fixed;
  right: 25px;
  bottom: 25px;
  width: 50px;
  height: 50px;
  background: #25D366;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  z-index: 99999;
  box-shadow: 0 8px 20px rgba(0,0,0,.25);
}

.whatsapp-btn svg{
  color: #fff;
  width: 30px;
  height: 30px;
}

@media (max-width:768px){
    .whatsapp-btn{
        width:52px;
        height:52px;
        right:18px;
        bottom:18px;
    }

    .whatsapp-btn svg{
        font-size:28px;
    }
}
/* ===== Large Laptop ===== */

@media(max-width:1300px){

    .nav-links{
        gap:35px;
    }

    .nav-links a{
        font-size:16px;
    }

    .phone span{
        font-size:16px;
    }

    .counselling-btn{
        min-width:190px;
    }
}

/* ===== Tablet ===== */

@media(max-width:992px){

    .phone{
        display:none;
    }

    .nav-links{
        gap:25px;
    }

    .counselling-btn{
        min-width:170px;
        font-size:15px;
    }
}

/* ===== Mobile ===== */

@media(max-width:768px){

    .menu-icon{
        display:block;
    }

    .nav-right{
        display:none;
    }

    .logo img{
        height:50px;
    }

    .nav-links{
        position:absolute;
        top:86px;
        left:-100%;
        width:100%;
        background:#fff;
        flex-direction:column;
        gap:25px;
        padding:30px 0;
        transition:.4s;
        box-shadow:0 5px 15px rgba(0,0,0,0.08);
    }

    .nav-links.active{
        left:0;
    }

    .nav-links a{
        font-size:18px;
    }

    .nav-container{
        padding:0 20px;
    }
}

/* ===== Small Mobile ===== */

@media(max-width:480px){

    .logo img{
        height:42px;
    }

    .menu-icon{
        font-size:24px;
    }
    .nav-links a{
        font-size:16px;
    }
}

